<form class="form" action="/vineyard/{{vineyard.id}}?_method=put" method="POST">
  <input type="text" placeholder="Vineyard Name"name="name" value="{{vineyard.name}} "id="name">
  <input type="text" placeholder="Address" name="address" value="{{vineyard.address}}" id="address">
  <input type="text" placeholder="Phone Number" name="phone" value="{{vineyard.phone}}" id="phone">
  <input type="text" placeholder="Website" name="website" value="{{vineyard.website}}" id="website">
  <div class="radio1">
  <p> Did you have an appointment? </p>
      <input name="appointment" type="radio" id="appointment-true" value="true" />
      <label for="appointment-true">Yes</label>
      <input name="appointment" type="radio" id="appointment-false" value="false" />
      <label for="appointment-false">No</label>
  </div>
  <div class="radio2">
  <p> Did you purchase wine? </p>
      <input name="wine_purchase" type="radio" id="purchase-true" value="true" />
      <label for="purchase-true">Yes</label>
      <input name="wine_purchase" type="radio" id="purchase-false" value="false" />
      <label for="purchase-false">No</label>
  </div>
  <div class="row">
  <button class="btn waves-effect waves-light red lighten-2 edit-btn" type="submit">Submit
  </button>
</div>

</form>
