<ul class="vineyard-contact">
<li>{{vineyard.name}}</li>
<li>{{vineyard.address}}</li>
<li>{{vineyard.phone}}</li>
<li>{{vineyard.website}}</li>
<li>Made Appointment: {{vineyard.appointment}}</li>
<li>Purchased Wine: {{vineyard.wine_purchase}}</li>
<li>{{vineyard.visit_date}}</li>
</ul>

<h5><a href="/">Edit</a></h5>
<h5><a href="/vineyard/{{this.id}}">Delete</a></h5>
