<ul class="vineyard-contact">
<li>{{vineyard.name}}</li>
<li>{{vineyard.address}}</li>
<li>{{vineyard.phone}}</li>
<li>{{vineyard.website}}</li>
<li>Made Appointment: {{vineyard.appointment}}</li>
<li>Purchased Wine: {{vineyard.wine_purchase}}</li>
<li>{{vineyard.visit_date}}</li>
</ul>

<form action="/vineyard/{{vineyard.id}}?_method=put" method="POST">
  <button class="btn waves-effect waves-light" type="submit" name="action">Edit
  </button>
</form>

<form action="/vineyard/{{vineyard.id}}?_method=delete" method="POST">
  <button class="btn waves-effect waves-light" type="submit" name="action">Delete
  </button>
</form>
